@import "tailwindcss";

@theme {
    --breakpoint-tablet: 452px;
    --breakpoint-desktop: 1000px;

    --color-primary: #363A43;
}

#root {
    width: 100dvw;
    height: 100dvh;
}

body {
    font-family: Inter, sans-serif;
}