@import "tailwindcss";

@theme {
    --breakpoint-tablet: 452px;
    --breakpoint-desktop: 1000px;


    --color-primary: #363A43;
    --color-secondary: #666C7B;

    --color-focus-primary: #028837;
    --color-focus-secondary: #02742F;
    --color-focus-fade: #029C3F;

    --color-border-primary: #E4E6EC;
    --color-border-secondary: #C7C9D1;

    --color-error: #FF1F00;
}

#root {
    width: 100dvw;
    height: 100dvh;
}

body {
    font-family: Inter, sans-serif;
}