@import 'tailwindcss';

@theme {
  --breakpoint-desktop: 1000px;

  --color-primary: #363a43;
  --color-secondary: #666c7b;
  --color-tertiary: #f7f7f9;

  --color-focus-primary: #028837;
  --color-focus-secondary: #02742f;
  --color-focus-fade: #029c3f;

  --color-border-primary: #e4e6ec;
  --color-border-secondary: #c7c9d1;
  --color-border-tertiary: #e0e2ea;

  --color-error: #ff1f00;
}

body {
  font-family: Inter, sans-serif;
}

button {
  cursor: pointer;
}
